@import url(variables.css);

@font-face {
    font-family: "quickBold";
    src: url(../storage/fonts/quicksand/Quicksand-Bold.ttf);
}
@font-face {
    font-family: "quickSemiBold";
    src: url(../storage/fonts/quicksand/Quicksand-SemiBold.ttf);
}
@font-face {
    font-family: "quickRegular";
    src: url(../storage/fonts/quicksand/Quicksand-Regular.ttf);
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--color-bg1);
}

#footer{
    background-color: var(--color-bg3);
    width: 100%;
    height: 300px;
}
#footerGrid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footerSection{
    border: 1px solid pink;
}

.informationMiniGrid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
}
.informationMGSection{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.informationMGSection2{
    padding-left: 20px;
}

.footerInfoTitle{
    color: var(--color-w);
    font-size: 20px;
    font-family: "quickSemiBold", sans-serif;
}
.footerInfoText{
    color: var(--color-f1);
    font-size: 14px;
    font-family: "quickRegular", sans-serif;
}
.footerIcons1{
    width: 20px;
    filter: invert();
    opacity: 60%;
}
.footerLines{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 30px calc(100% - 30px);
}
.line{
    display: flex;
    align-items: center;
}



#fS1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footerLogo{
    width: 60%;
    filter: invert();
}


.mainDiv{
    display: grid;
    grid-template-rows: 50% 20% 30%;
    width: 100%;
    height: 100%;
}
#text{
    color: var(--color-w);
    font-family: "quickBold", sans-serif;
    font-size: 20px;
}
#text2{
    color: var(--color-w);
    font-family: "quickRegular", sans-serif;
    font-size: 14px;
}

#mDC{
    display: flex;
    align-items: center;
    justify-content: center;
}
#mDC2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#mDC3{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(2, 1fr);
}
.mDB{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px black;
}
#b1{
    transition: 0.2s;
    background-color: var(--color-a2);
}
#b2{
    transition: 0.2s;
    border: 2px solid var(--color-w);
}
#b2:hover{
    border: 2px solid var(--color-w);
    background-color: var(--color-w);
    #btext2{
        color: var(--color-a2);
    }
}
#btext1{
    color: var(--color-w);
    font-family: "quickBold", sans-serif;
    font-size: 20px;
}
#btext2{
    transition: 0.2s;
    color: var(--color-w);
    font-family: "quickBold", sans-serif;
    font-size: 20px;
}


.mainDivHeaderContainer{
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: var(--color-a2);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px black;
}
#logo{
    opacity: 50%;
    position: absolute;
    margin: 0;
    height: 340px;
}
#logo2{
    filter: invert();
    position: absolute;
    margin: 0;
    height: 340px;
}





.greenText{
    color: var(--color-fwh);
}