:root{
    --color-w: #ffffff;
    --color-0: #000000;
    --color-0-40: #00000040;
    --color-b1: #edf2f4;
    --color-b2: #52796f;
    --color-b3: #2b2d42;
    --color-a1: #354f52;
    --color-a2: #2f3e46;
}