:root{
    --color-w: #ffffff;
    --color-0: #000000;
    --color-0-40: #00000040;
    --color-b1: #edf2f4;
    --color-b2: #52796f;
    --color-b3: #2b2d42;
    --color-a1: #643264;
    --color-a2: #523264;

    --color-p1: #eb00eb;

    --color-bg1: #1a1a1a;
    --color-bg2: #131313;
    --color-bg3: #0c0c0c;

    --color-f1: #c0c0c0;
    --color-fwh: #00ff37;
}