<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/style/gallery.css">
    <link rel="icon" href="../storage/zxicons/ZXPagesProjectIconWhite.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <script type="module" src="../js/main/gallery.js"></script>
</head>
<body>

    <div class="mainBarGrid">
        <div class="mainBarSection" id="mBS1">
            <img id="zxImg" src="../storage/zxicons/ZXPagesProjectIconWhite.png">
            <div id="line"></div>
            <p id="gallery">Gallery</p>
        </div>
        <div class="mainBarSection">
            
        </div>
    </div>

    <div id="mainGalleryDiv">

        <div class="category">
            <div class="categorySection categoryCenter">
                <p class="categoryTitle">Category</p>
            </div>
            <div class="categorySection categoryFlex">

                <div class="element">
                    
                </div>

                <div class="element">
                    
                </div>
                <div class="element">
                    
                </div>

                <div class="element">
                    
                </div>
                <div class="element">
                    
                </div>

                <div class="element">
                    
                </div>
                
            </div>
        </div>
        <div class="category">
            <div class="categorySection categoryCenter">
                <p class="categoryTitle">Category</p>
            </div>
            <div class="categorySection categoryFlex">
                
            </div>
        </div>
        <div class="category">
            <div class="categorySection categoryCenter">
                <p class="categoryTitle">Category</p>
            </div>
            <div class="categorySection categoryFlex">

            </div>
        </div>

    </div>
    
</body>
</html>